@model MVCLabb4.Models.Customer

<h1>Customer Details</h1>

<div>
    <h4>First Name: @Model.FirstName</h4>
    <h4>Last Name: @Model.LastName</h4>
    <h4>Address: @Model.Address</h4>
    <h4>Phone Number: @Model.PhoneNumber</h4>
</div>

<a asp-action="Index">Back to List</a>
